body {
    font-family:cursive;
    margin: 0;
    padding: 20px;
    border-radius: 2px;
    background: url(h222.jpeg);
    background-size: cover;
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    /* background-color: white; */
    
}

.address-section, .payment-section {
    margin-bottom: 20px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
img{
    width: 200px;
    height: 200px;
    justify-content: center;
}
h5{
    color: #ccc;
}